/* MAIN */

*{
	box-sizing: border-box;

}

.main-form{
	max-width:2000px ;
}

body{
    background:linear-gradient(#80ffdb , #4872a7);
	min-height: 100vh;
	display:flex;
	flex-direction: column;
	
}

main{
	flex-grow: 1;

} 
.main-container{
	margin: 5em;
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;

}

.main-container > * {
	flex-grow:1; 
	flex-basis: 0;
	min-width: 20em;
}
 
.container{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
} 

/* att välja DAG */
.choose-day{
	
	flex-direction: column;
	background-color: rgba(109, 123, 135, 0.597);
	border-right: 4px solid rgba(0, 0, 0, 0.192);
	padding-top: 4em;
	font-size: 1.4em;

}
.myproject--checkbox{
    height:40px;
    width:40px;
    accent-color:red;
  }
	
.choose-day > hr{
	margin: 0 3em 3em;
}
	p{
		font-size: 20px;
	}

	/* Kontakt information */

#quantity{
	width:3em;
	margin-bottom:1.5em;
	
}

.contact-information > form{
	height: 100%;
	font-size: 22px;

}


form {
	/* ÄNDRAR SÖKFÄLTETS STORLEKEN PÅ KONTAKTINFORMATIONEN */
	background-color: rgba(109, 123, 135, 0.597);
	padding: 4em;
	font-weight: bold; 
}

.form-layout {
	display: flex;
	flex-direction: column;

}

 form p {
	display: flex;
	margin-bottom: 2em;
	justify-content: center;
	
 }
input, button {
	font-size: 100%;
}
input::placeholder {
	color:rgba(128, 128, 128, 0.756);
	
}
input[type="text"] {
	min-width: 190px;
}

input:invalid {
	
	border-right: 0.5em solid rgb(255, 10, 10);
}
input:valid {
	border-right: 0.5em solid rgb(29, 176, 29);
}

.error-message {
	visibility: hidden;
	margin: 0;
	font-weight: normal;
	font-size: 90%;
	color: rgb(134, 13, 13);
}
input:invalid + .error-message {
	visibility: visible; 

}

input[type="checkbox"] + label,
input[type="radio"] + label {
	font-weight: normal; 
}

<<<<<<< HEAD
button:hover,
input[type="checkbox"]:hover,
input[type="checkbox"] + label:hover,
input[type="radio"]:hover,
input[type="radio"] + label:hover {
	/*cursor: pointer;*/
}


=======
>>>>>>> 6bc7a09ad459eaa6acff372fd7b23aeaa8ee9ae2
/* Beställa mat */

.food-order{
	display: flex;
	flex-direction: column;
	align-content: center;
	border-left:solid rgba(0, 0, 0, 0.192);


}
.food-text{
	display: flex;
	flex-direction: column;
	font-size: 22px;
	
}
h1{
	font-size: 29px;
}

input[type=checkbox] {
    border: 0px;
    width: 1em;
    height: 1em;
	font-size: 23px;
	cursor: pointer;
}
.radio-btn{
	font-size: 1.3em;
	margin: 0.5em 0;
	position: relative;
}

<<<<<<< HEAD
.radio-btn:hover{
	
	/*cursor: pointer;*/
}
=======
>>>>>>> 6bc7a09ad459eaa6acff372fd7b23aeaa8ee9ae2

.list-text a {
	text-decoration: none;
}


hr{
	margin-bottom: 1.5em;
}

.requests{
	display:flex;
	flex-direction:column;
	align-items: center;

}

.requests p{
	font-size: 23px;
	margin-bottom: 0.5em;
}
#radioVegetarisk:checked ~ .radio-btn > input[type="checkbox"] {
	pointer-events: none;
	opacity: 0.5;
  }

  /* Disable adjacent checkboxes when "ej mat" is checked */
  #radioEjMat:checked ~ .radio-btn > input[type="checkbox"] {
	pointer-events: none;
	opacity: 0.5;
  }

.color-background{
	font-size: 24px;
	
}

.btn-grad{
display: flex;
padding: 2.5em;
justify-content: center;
}

@media(max-width:850px ) {
	
	.main-container{
		margin-top: 6em;
		margin-left:1em;
		margin-right: 1em;
		display:flex;
		flex-direction:row;
		flex-wrap: wrap;
	
	}
	
	
}

@media all and (max-width:900px) {
	

	.footer-menu {
		display: flex;
		/* flex-direction: column; */
		background-color: #000000;
		color: rgb(255, 255, 255);
		line-height: 20%;
		flex-wrap: wrap;
	
	}
	.icons .img-resize {
		display: none;
		}
		.footer-line{
			display:none;
		}

	}

	body
	{
	  margin: 0;
	  padding: 0;
	  
	  font-family: "Avenir Next", "Avenir", sans-serif;
	}
	
	#menuToggle
	{
	  display: block;
	  position: relative;
	  top: 50px;
	  left: 50px;
	  
	  z-index: 1;
	  
	  -webkit-user-select: none;
	  user-select: none;
	}
	
	#menuToggle a
	{
	  text-decoration: none;
	  color: #232323;
	  
	  transition: color 0.3s ease;
	}
	
	#menuToggle a:hover
	{
	  color: tomato;
	}
	
	
	#menuToggle input
	{
	  display: block;
	  width: 40px;
	  height: 32px;
	  position: absolute;
	  top: -7px;
	  left: -5px;
	  
	  
	  
	  opacity: 0; 
	  z-index: 2; 
	  
	  -webkit-touch-callout: none;
	}
	
	
	#menuToggle span
	{
	  display: block;
	  width: 33px;
	  height: 4px;
	  margin-bottom: 5px;
	  position: relative;
	  
	  background: #cdcdcd;
	  border-radius: 3px;
	  
	  z-index: 1;
	  
	  transform-origin: 4px 0px;
	  
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				  opacity 0.55s ease;
	}
	
	#menuToggle span:first-child
	{
	  transform-origin: 0% 0%;
	}
	
	#menuToggle span:nth-last-child(2)
	{
	  transform-origin: 0% 100%;
	}
	
	
	#menuToggle input:checked ~ span
	{
	  opacity: 1;
	  transform: rotate(45deg) translate(-2px, -1px);
	  background: #232323;
	}
	
	
	
	
	#menuToggle input:checked ~ span:nth-last-child(3)
	{
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}
	
	
   
	#menuToggle input:checked ~ span:nth-last-child(2)
	{
	  transform: rotate(-45deg) translate(0, -1px);
	}
	
	#menu
	{
	  position: absolute;
	  width: 200px;
	  margin: -100px  0 0 -5px;
	  padding: 50px;
	  padding-top: 12px;
	  padding-bottom: 12px;
	  
	  background: #ededed;
	  list-style-type: none;
	  -webkit-font-smoothing: antialiased;
   
	  
	  transform-origin: 0% 0%;
	  transform: translate(-100%, 0);
	  
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}
	
	#menu li
	{
	  padding: 10px 0;
	  font-size: 22px;
	}
	
   
	#menuToggle input:checked ~ ul
	{
	  transform: none;
	}
   

	
